@charset "UTF-8";
@font-face {
    font-family: 'Zen Loop';
    src: url(../ZenLoop-Regular.ttf);
}
@font-face {
    font-family:'Festive';
    src: url(../Festive-Regular.ttf);
} 


:root{
    --cor0: #F5B8D4;
    --cor1:#CEB4D6;
    --cor2: #9F86EB;
    --cor3: #7E96D6;
    --cor4: #B4EAFA;

    --fonte-padrao: sans-serif, verdana;
    --fonte-titulo:'Festive';
    --fonte-cabeçalho:'Zen Loop';
    
}

*{
    margin: 0%;
    padding: 10px;
}

body{
    background-color: white;
    font-family: var(--fonte-padrao);
}

header{
    background-color:var(--cor4);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}
header > h1{
    font-family: var(--fonte-cabeçalho);
    font-size: 60px;
    color:var(--cor2);
}

nav{
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    background-color: var(--cor1);
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.233);
}
nav > a{
    color: rgb(201, 57, 112);
    font-weight: bolder
}
main{
    background-color: white;
    margin:auto;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 15px;
    min-width: 280px;
    max-width: 800px;
    box-shadow: 0px 0px 10px var(--cor0);
}


main h1{
    font-family: var(--fonte-titulo);
    font-size: 40px;
    text-align: center;
}

main p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
